body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* MAIN */

main {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

/* BOTÓN */

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* RESULTADO */

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #e8f5e9;
    border-radius: 5px;
}