body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #333;
}

/* CONTENEDOR PRODUCTOS */
#contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* TARJETA PRODUCTO */
.producto {
  margin: 15px;
  padding: 15px;
  background: white;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* BOTONES */
button {
  padding: 10px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* CARRITO */
#carrito div {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}